.register-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.6rem;
}

.register-title {
    font-size: 1.6rem;
    font-weight: 450;
    margin-bottom: 1.6rem;
}

.client-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

mat-form-field+mat-form-field {
    padding-top: 0.4rem;
}

mat-form-field:last-of-type {
    padding-bottom: 0.5rem;
}

.date-input {
    padding-top: 0.8rem !important;
}

button+button {
    margin: 0 0 0 16px;
}

button {
    height: 35px;
}

.spinner-container {
    padding: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loading-message {
    margin-top: 3rem;
    color: #aeadae;
    font-size: 1rem;
}

.remove-button {
    width: 50%;
    text-align: right;
    margin: 0;
    padding-bottom: 1.6rem;
}

.client-divider {
    width: 50%;
    text-align: center;
    position: relative;
}

.action-buttons {
    padding-top: 1.6rem;
    display: flex;
    justify-content: center;
    margin: 0;
}

.forms-container {
    margin-bottom: 5rem;
}

.client-title {
    font-size: 1.6rem;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-container+.form-container {
    margin-top: 1.6rem;
}

.messages-container {
    max-width: 45%;
    padding-top: 1.6rem;
    font-size: 1rem;
    margin: 0;
    text-align: center;
}

.error-message {
    color: #e35e6b;
    margin: 0;
}

.provide-data-message {
    color: #aeadae;
    margin: 0;
}

.card-footer {
    padding: 1.6rem 0;
}
