.form-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 1.6rem;
}

.form-title {
    font-size: 1.6rem;
    font-weight: 450;
}

.customer-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

mat-form-field+mat-form-field {
    padding-top: 0.4rem;
}

mat-form-field:last-of-type {
    padding-bottom: 1.2rem;
}

.date-input {
    padding-top: 0.8rem !important;
}

.action-buttons {
    padding-top: 0.4rem;
    display: flex;
    justify-content: center;
}

button+button {
    margin: 0 0 0 16px;
}

button {
    height: 35px;
}
