<section class="register-section" [formGroup]="clientsForm">
    <h1 class="register-title">New Clients Form</h1>

    <ng-container formArrayName="clients" *ngIf="!isSubmited; else spinner">

        <ng-container *ngFor="let clientForm of clients.controls; let i = index">
            
            <section class="form-container">
                <form class="client-form" [formGroupName]="i">
                    <h2 class="client-title">Client #{{ i + 1 }}</h2>
                
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name" formControlName="name" required>
                        <mat-error *ngIf="clientForm['controls']?.name.hasError('required') && clientForm['controls']?.name.touched ">
                            Enter your name
                        </mat-error>
                        <mat-error *ngIf="clientForm['controls']?.name.hasError('minlength') && clientForm['controls']?.name.touched">
                            Name must have more than 3 characters
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Mother Name</mat-label>
                        <input matInput placeholder="Mother Name" formControlName="mother" name="mother" required>
                        <mat-error *ngIf="clientForm['controls']?.mother.hasError('required') && clientForm['controls']?.mother.touched">
                            Enter your mother name
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email" name="email" required>
                        <mat-error *ngIf="clientForm['controls']?.email.hasError('required') && clientForm['controls']?.email.touched">
                            Enter your email
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Country</mat-label>
                        <input matInput placeholder="Country" formControlName="country" name="country" required>
                        <mat-error *ngIf="clientForm['controls']?.country.hasError('required') && clientForm['controls']?.country.touched">
                            Enter your home country
                        </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="City" formControlName="city" name="city" required autocomplete="false">
                        <mat-error *ngIf="clientForm['controls']?.city.hasError('required') && clientForm['controls']?.city.touched">
                            Enter your home city
                        </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill" class="date-input">
                        <mat-label>Birth Date</mat-label>
                        <input matInput [matDatepicker]="datepicker" formControlName="birth" name="birth" required autocomplete="false">
                        <mat-error *ngIf="clientForm['controls']?.birth.hasError('required') && clientForm['controls']?.birth.touched">
                            Enter your birth date
                        </mat-error>
                        <mat-error *ngIf="clientForm['controls']?.birth.hasError('age') && clientForm['controls']?.birth.touched">
                            You must be over 18 years old to create an account
                        </mat-error>
                        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker>
                            <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Cancel</button>
                                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                    </mat-form-field>
                
                </form>
                
                <mat-card-actions class="remove-button">
                    <button mat-raised-button matButton color="secondary" (click)="removeClient(i)">Remove</button>
                </mat-card-actions>
                
                <mat-divider class="client-divider"></mat-divider>
            </section>
            
        </ng-container>
        
    <section class="messages-container">
        <p *ngIf="showErrorMessage" class="error-message">
            Please verify the data you provided.
        </p>
        <p *ngIf="clients.invalid && !showErrorMessage" class="provide-data-message">
            Provide the required data to allow submission
        </p>
    </section>

    <mat-card-footer class="card-footer">
        <button mat-raised-button matButton color="secondary" (click)="closeForm()">Cancel</button>
        <button mat-raised-button matButton color="secondary" (click)="addClient()">Add Client</button>
        <button mat-raised-button matButton color="primary" (click)="saveClient()" [disabled]="clients.invalid">Submit</button>
        <!-- <button (click)="showErrorMessage()">show</button> -->
    </mat-card-footer>

    </ng-container>

    <ng-template #spinner>
        <section class="spinner-container">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            <p class="loading-message">Registering client, please wait.</p>
        </section>
    </ng-template>

</section>
