<h1 mat-dialog-title class="title">Confirm Your Data</h1>

<mat-divider></mat-divider>

<section mat-dialog-content class="client-data">
    <p>Name: <strong>{{ data.client.name }}</strong></p>
    <p>Mother: <strong>{{ data.client.mother }}</strong></p>
    <p>Email: <strong>{{ data.client.email }}</strong></p>
    <p>Country: <strong>{{ data.client.country }}</strong></p>
    <p>City: <strong>{{ data.client.city }}</strong></p>
    <p>Birth Date: <strong>{{ data.client.birth | date: 'dd/MM/yyyy' }}</strong></p>
</section>

<mat-divider></mat-divider>

<section mat-dialog-actions align="center">
    <button mat-raised-button mat-dialog-close color="secondary">Cancel</button>
    <button mat-raised-button [mat-dialog-close]="true" color="primary">Confirm</button>
</section>
