<section class="dialog-container">
    <h1 mat-dialog-title class="title">Confirm Your Data</h1>
    
    <mat-divider></mat-divider>
    <section *ngFor="let client of data.clients; let i = index;">
        <h2 class="client-title">Account Member #{{ i }}</h2>

        <section mat-dialog-content class="client-data">
            <p>Name: <strong>{{ client.name }}</strong></p>
            <p>Mother: <strong>{{ client.mother }}</strong></p>
            <p>Email: <strong>{{ client.email }}</strong></p>
            <p>Country: <strong>{{ client.country }}</strong></p>
            <p>City: <strong>{{ client.city }}</strong></p>
            <p>Birth Date: <strong>{{ client.birth | date: 'dd/MM/yyyy' }}</strong></p>
            <p>Role: <strong>{{ client.birth | date: 'dd/MM/yyyy' }}</strong></p>
        </section>
        <mat-divider></mat-divider>
    </section>
    
    <section mat-dialog-actions class="action-buttons" align="center">
        <button type="button" mat-raised-button mat-dialog-close color="secondary">Cancel</button>
        <button type="button" mat-raised-button [mat-dialog-close]="true" color="primary">Confirm</button>
    </section>

</section>
