<mat-card class="home-card mat-elevation-z4">
    <mat-card-header class="header">
        <section mat-card-avatar>
            <mat-icon>
                account_circle
            </mat-icon>
        </section>

        <mat-card-title>Client Register</mat-card-title>

        <mat-card-subtitle>Create new account</mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content class="content">
        <section *ngIf="!showWelcomeMessage; else welcomeContent" class="register-content">
            <p>
                You will have to provide the following personal informations to create your account:
            </p>

            <ul>
                <li>Name</li>
                <li>Email</li>
                <li>Country</li>
                <li>City</li>
                <li>Birth Date</li>
                <li>Mother Name</li>
            </ul>

            <p>
                If you wish to proceed, click on the 'Register' button below.
            </p>
        </section>

        <ng-template #welcomeContent>
            <section class="welcome-content">
                <section>
                    <mat-icon class="welcome-icon">
                        check
                    </mat-icon>
                </section>
                
                <section class="welcome-message">
                    <p class="welcome-message-title">Welcome, <strong class="client-name">{{client.name}}</strong></p>
                    <p class="welcome-message-content">You are now ready to use our service. Enjoy them!</p>
                </section>
            </section>
        </ng-template>

    </mat-card-content>
    
    <mat-divider></mat-divider>

    <mat-card-actions *ngIf="!showClientForm && !showWelcomeMessage" class="action-buttons">
        <button mat-raised-button color="primary" (click)="openClientForm()">Register</button>
    </mat-card-actions>

    <app-client-form *ngIf="showClientForm" (close)="closeClientForm($event)" (success)="welcomeMessage($event)">
    </app-client-form>
</mat-card>
