.home-card {
    margin: 0.8rem;
    padding: 1.5rem;
}

.action-buttons {
    padding-top: 0.9rem;
    display: flex;
    justify-content: center;
}

.content {
    padding-top: 0.8rem;
}

button {
    height: 35px;
}
