.home-card {
    margin: 1.2rem 1.2rem 3rem 1.2rem;
    padding: 1.5rem;
}

.action-buttons {
    padding-top: 0.9rem;
    display: flex;
    justify-content: center;
}

.content {
    padding-top: 0.8rem;
}

button {
    height: 35px;
}

.welcome-content, .welcome-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-icon {
    width: 100%;
    font-size: 90px;
    color: #28a745;
}

.welcome-message-title {
    font-size: 1.4rem;
}

.welcome-message-content {
    color: #aeadae;
    font-size: 1rem;
}

.client-name {
    font-weight: 450;
}

.account-icon {
    margin-top: -3px;
    font-size: 48px;
}
