<mat-card class="home-card">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>
                account_circle
            </mat-icon>
        </div>
        <mat-card-title>Client Register</mat-card-title>
        <mat-card-subtitle>Create new account</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>
            You will have to provide the following personal informations to create your account:
        </p>
        <ul>
            <li>Name</li>
            <li>Email</li>
            <li>Country</li>
            <li>City</li>
            <li>Birth Date</li>
            <li>Mother Name</li>
        </ul>

        <p>
            If you wish to proceed, click on the Create button below.
        </p>
    </mat-card-content>
    <mat-card-actions class="action-buttons">
        <button mat-raised-button color="primary" (click)="openClientForm()">Create</button>
    </mat-card-actions>

    <div *ngIf="showClientForm">
        <h1>Enter Your Data</h1>
        <app-client-form (close)="closeClientForm($event)" (add)="addClientForm($event)"></app-client-form>
    </div>
</mat-card>
