<mat-card class="home-card mat-elevation-z4">
    <mat-card-header class="header">
        <div mat-card-avatar>
            <mat-icon>
                account_circle
            </mat-icon>
        </div>
        <mat-card-title>Client Register</mat-card-title>
        <mat-card-subtitle>Create new account</mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content class="content">
        <p>
            You will have to provide the following personal informations to create your account:
        </p>
        <ul>
            <li>Name</li>
            <li>Email</li>
            <li>Country</li>
            <li>City</li>
            <li>Birth Date</li>
            <li>Mother Name</li>
        </ul>

        <p>
            If you wish to proceed, click on the 'Register' button below.
        </p>
    </mat-card-content>
    <mat-divider></mat-divider>

    <mat-card-actions *ngIf="!showClientForm" class="action-buttons">
        <button mat-raised-button color="primary" (click)="openClientForm()">Register</button>
    </mat-card-actions>

    <app-client-form *ngIf="showClientForm" (close)="closeClientForm($event)"></app-client-form>
</mat-card>
